.nav-item{
	background:linear-gradient(#E0E6F8,#0B0B3B);
	box-shadow: 2px 2px 3px black;
	color: black;
	border-radius: 8%;
	color: white;
	padding: 5px;
	height: 1px;


}



.nav-link{
	color: white;
	font-size: 21px;
	font-family: elephant;
	font-style:bold;
	text-shadow: 4px 4px 10px black,-4px -4px 10px black;
	padding:5px;
}

.nav-link:hover{
	color:black;
	/*background:linear-gradient(#0B0B3B,#0000FF,#0B0B3B);*/
	background-image: url('img1/header_back.jpg');
	/*background-color:  #0081B7;*/
	box-shadow: 5px 5px 6px black;
	border-radius: 5%;
	text-shadow:  5px 5px 6px #CEF6F5;
}


.dropdown-menu{
	background-color:#F3F781;
	padding: 25px;
	text-align: center;
}

#drop1{
	font-size: 15px;
	font-family: cooper black;

}

#drop1:hover{
	color:#0081B7;
}


