#top_bar{
	width: 100%;
	height: 1%;
	background-color: #298A08;
}


.back1{
	background-image: url("img1/regback.jpg");
	width:100%;
	height:1200px;
}

#b1{
	position:relative;
	top: 15%;
	left: 35%;
	width: 28%;
	height: 30%;
	background-color: white;
	opacity: 1.0;
	box-shadow: 8px 8px 5px black;
}

h2{
	/*position: relative;
	left: 37%;*/
	text-align: center;
	font-family: high tower text;
	text-shadow: 2px 2px 3px gray;
}

input{
	position: relative;
	left: 10%;
	width: 70%;
	padding:5px;
	margin: 5px 0 22px 0;
	background:#f1f1f1;
	text-align: center;
	color:black;
	
	border-radius: 5%;
	font-size: 18px;
	/*border:2px solid gray;*/
}


input[type=text]:focus, input[type=password]:focus {
  background-color: #D8D8D8;
  outline: none;
	 }

#loginbtn{
	position: relative;
	left: 29%;
	height: 40px;
	width: 35%;
	background: #04B404;
	cursor: pointer;
	color: white;
	border-radius: 7%;
	opacity: 0.8;
	border:2px solid black;
	box-shadow: 1px 1px 6px black;


}
#loginbtn:hover{
	opacity: 1.0;

}







